@import url('https://fonts.googleapis.com/css?family=Varela+Round');

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-family: 'Varela Round', sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  height: 200px;
  padding-top: 25px;
}
.buttonsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  height: 200px;
  margin: 40px 0 0 180px;
}
.inputPassword {
  font-size: 25px;
  position: relative;
  bottom: 35px;
  right: 90px;
}
.input {
  width: 30px;
  color: rgb(22, 20, 20);
}
