@font-face {
  font-family: 'Roboto Mono';
  src: url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
}
.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  background-color: darkgray;
}
.header {
  padding-right: 10px;
  font-size: 35px;
  font-family: 'Roboto Mono', sans-serif;
}
.imgLockIcon {
  position: relative;
  top: -5px;
}
.login {
  position: absolute;
  right: 50px;
  top: 30px;
}
a {
  text-decoration: none;
  color: antiquewhite;
}
a:hover {
  color: #489dff;
}
