@import url('https://fonts.googleapis.com/css?family=Varela+Round');

.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  background-color: rgb(206, 150, 150);
}
.switch {
  position: absolute;
  left: 50px;
  top: 50px;
}
.header {
  padding-right: 10px;
  font-size: 35px;
  font-family: 'Varela Round', sans-serif;
  color: #e8e8e8;
}
.imgLockIcon {
  position: relative;
  top: -5px;
}
.language {
  position: absolute;
  left: 50px;
  top: 30px;
}
.login {
  position: absolute;
  right: 50px;
  top: 30px;
  color: #e8e8e8;
}
a {
  text-decoration: none;
  color: #e8e8e8;
}
a:hover {
  color: rgb(131, 186, 220);
}
