@import url('https://fonts.googleapis.com/css?family=Varela+Round');

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: rgb(206, 150, 150);
}
.lable {
  font-size: 15px;
  font-family: 'Varela Round', sans-serif;
}
.myName {
  text-decoration: none;
  color: #e8e8e8;
}
.myName:hover {
  color: rgb(131, 186, 220);
}
