@import url('https://fonts.googleapis.com/css?family=Varela+Round');

.button {
  width: 15vw;
  height: 4vw;
  transform: translate(-50%, -80%);
  font-family: 'Varela Round', sans-serif;
  font-size: 1.5vw;
  letter-spacing: 0.1em;
  color: #e8e8e8;
  border: none;
  border-radius: 10px;
  outline: none;
  background: linear-gradient(45deg, #d350db, teal, #d350db);
  background-size: 400% 400%;
  box-shadow: 1vw 1vw 0 lightcoral;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    animation: gradient 10s ease infinite;
    font-size: 1.8vw;
    box-shadow: 0.2vw 0.2vw 0 lightcoral;
  }
}

@keyframes gradient {
  50% {
    background-position: 100% 0;
  }
}
